/* style.css */
body {
    background-image:url('bisquet.jpg');
    background-size:cover;
}
#wrapper {
    width:80%;
    max-width:800px;
    margin:auto;
    background-color:white;
    padding: 1em;
    border:2px solid;
    border-radius: 25px;
}
h1, h2 {
    text-align:center;
}
h1 {
    margin: 1em 0 0 0;
}
h2 {
    margin: 0 0 1em 0;
}
.right {
    text-align:right;
}
.left {
    text-align:left;
}
.topline {
    border-top-style:solid;
}
.bottomline {
    border-bottom-style:solid;
}
.doublebottomline {
    border-bottom-style:double;
}
